﻿@model 
@{
    ViewBag.Title = "GeneratePassword";
    var UserId = Model.UserId;
    Layout = null;
}
<style>
    .form-control {
        color: #616363 !important;
    }
    /*.form-signin{min-height: 438px; height:auto;}*/
    .signin-msg {
        /* max-width: 330px;
    margin: 100px auto 0;*/
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .signin-msg h2.form-signin-heading {
            margin: 0;
            padding: 10px 15px;
            text-align: center;
            border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            font-size: 18px;
            -webkit-font-smoothing: antialiased;
            /* text-transform: capitalize; */
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
        }

        .signin-msg .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .loginbtn {
        margin-bottom: 15px;
    }

    .footer {
        /*position: fixed;*/
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 40px;
        background-color: #000;
    }
    /* Custom CSS  */
    .copyright {
        margin-top: 12px;
        text-align: center;
        color: #fff;
    }

    .patch {
        margin-top: 12px;
        text-align: right;
        font-size: 11px;
        color: #fff;
    }

    .field-validation-error {
        color: #b94a48;
    }

    .field-validation-success {
        color: black;
    }

    .content {
        border: 1px solid #DDD;
        border-radius: 6px;
    }

    .login-wrap {
        padding: 15px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px; /*added By Subodh singh*/
    }

    .form-signin input[type="text"], .form-signin input[type="password"], .signin-msg input[type="text"], .signin-msg input[type="password"] {
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        font-size: 12px;
    }

    .form-signin .btn-login {
        /*background: #f67a6e;*/
        background: #ff9326; /*modified by subodh*/
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        /* box-shadow: 0 4px #e56b60;*/
        box-shadow: 0 4px #ca741e; /*modified by subodh*/
        margin-bottom: 20px;
    }


    .form-signin p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }

    .header {
        /*position: fixed;*/
        left: 0;
        right: 0;
        z-index: 1010;
    }

    .white-bg {
        background: #fff;
        border-bottom: 1px solid #f1f2f7;
    }

    .wrapper {
        display: inline-block;
        margin-top: 81px;
        padding: 15px;
        width: 100%;
        /*background-color: white;*/
    }

    .logo {
        margin-left: -10px;
        float: left;
        margin-right: 15px;
        width: 214px;
        height: 42px;
        margin-top: 4px;
    }

    a.logo {
        font-size: 21px;
        color: #2e2e2e;
        float: left;
        /*margin-top: 8px;*/
        margin-right: 10px !important;
        text-transform: uppercase;
    }

        a.logo:hover, a.logo:focus {
            text-decoration: none;
            outline: none;
        }

        a.logo span {
            color: #FF6C60;
        }

    .headerSeperate {
        border-bottom: 2px solid #666869 !important; /* padding-bottom:3px!important; */
    }

    .col-centered {
        display: inline-block;
        vertical-align: top;
        float: none !important;
        margin: 5px;
        /* reset the text-align */
        text-align: left;
        /* inline-block space fix */
        /* margin-right:-4px;*/
        padding-bottom: 24px;
    }

    .row-centered {
        text-align: center;
    }

    .footercontainer {
        background-color: #484848;
        height: 22px;
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 22px;
        color: #d9d9d9;
        width: 1366px;
    }
</style>
<script src="~/Scripts/jquery-3.1.1.js"></script>

<header class="headerSeperate header white-bg navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="header-lg" style="margin-left:26px;">
        <!--logo start-->
        <a href="#" class="logo"><img class="img-responsive" src="/Images/logo.png" alt=""></a>
        <!--logo end-->
    </div>
    <nav>
        <div id="divHeaderPatDetails" style="display:none;">
            <div class="nav col-lg-3 col-md-4 col-sm-4 col-xs-10 HeaderPatDetails">
                <div class="flat-carousal popovers" style="margin-top: -6px; max-height: 65px; min-height: 58px !important;" data-trigger="custom" data-html="true" data-hideparentscroll="true" data-placement="bottom" data-content="Loading..." data-original-title="" title="">
                    <div id="owl-pat-header" class="owl-carousel owl-theme owl-carousel-header" style="border-radius: 5px;">
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>
@if (Model.Requestedurl == "Generate" || Model.Requestedurl == "ForgotPassword")
{
    
        using (Html.BeginForm("GeneratePassword", "InSyncAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <section id="container" class="sidebar-closed">
                <section id="main-content">
                    <section>
                        <div class="row row-centered" style="margin-top:80px!important">
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 col-lg-push-4 col-md-push-6 col-sm-push-6  col-centered nomargin" id="dvResetPassword">
                                <form method="POST" action="ResetPassword" name="RPassword" novalidate="">
                                    <div class="content signin-msg">
                                        <h2 class="form-signin-heading panelHeader">
                                            @if (Model.Requestedurl == "ForgotPassword")
                                            {
                                                <label style="font-weight:normal;font-size:16px">Create New Password</label>
                                            }
                                            else
                                            {
                                                <label style="font-weight:normal;font-size:16px">Generate Password</label>
                                            }
                                        </h2>
                                        <div class="login-wrap" style="border:0px !important;">
                                            <div class="field-validation-error">@Html.ValidationMessage("InvalidInfo", new { id = "vmInvalid" })</div>
                                            <div>@Html.ValidationMessage("InvalidInfoSucess", new { @class = "field-validation-success" })</div>
                                            @if (Html.ValidationMessage("InvalidInfoSucess").ToString() == "<span class=\"field-validation-valid\" data-valmsg-for=\"InvalidInfoSucess\" data-valmsg-replace=\"true\"></span>")
                                            {
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", id = "txtPassword" })
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", id = "txtConfirmedPassword" })
                                                <input type="hidden" name="UserId" value="@Model.UserId" />
                                                <input type="hidden" name="Requestedurl" value="@Model.Requestedurl" />
                                                <button class="btn btn-block btn-login btn-sm" type="submit" style="padding:6px 12px !important">Submit</button>
                                            }
                                            else
                                            {
                                                PasswordSuccess = true;
                                                <a class="col-xs-12 col-lg-8 pull-right noPad btnlink" style="margin-top: 7px;" onclick="blockPage();" href="/Admin">Return to sign in page</a>
                                            }


                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </form>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="content signin-msg col-lg-4 col-md-6 col-sm-6 col-xs-12 col-lg-pull-3 col-md-pull-4 col-sm-pull-5 col-centered nomargin">
                                <div style="color:red" id="dvPasswordExpired"></div><br />
                                <div id="dvPasswordPolicy" style="margin-top:20px;font-size:13px;">
                                    <p><b>Hello @Model.LastName @Model.FirstName</b>,</p><p>Please enter new password considering following rules:</p>
                                    <p>Password should,</p>
                                    <ul class="pl15">
                                        <li>Have Minimum 7 and Maximum 15 characters.</li>
                                        <li>Not contain any part of your first name, last name, or user name.</li>
                                        @*<li>Not be same as 3 most recent passwords.</li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </section>
                </section>

            </section>
        }

    }
}
else
{
    using (Html.BeginForm("GeneratePassword", "InSyncAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <section id="container" class="sidebar-closed">
            <section id="main-content">
                <section>
                    <div class="row row-centered">
                        <div id="dvMain" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-centered">
                            <form method="POST" action="ForgotPassword" name="FPassword" novalidate="">
                                <div class="form-signin " style="height:auto;">
                                    <h2 class="form-signin-heading panelHeader" style="font-size:16px">
                                        Retrieve Password
                                    </h2>
                                    <div class="login-wrap">
                                        <div class="col-lg-12">
                                            <div>
                                                <div style="margin-top:-13px;">
                                                    @Html.ValidationMessage("InvalidInfo", new { id = "vmInvalid" })
                                                    <label style="color: #b94a48;" id="lblError"></label>
                                                </div>
                                                <div>@Html.ValidationMessage("InvalidInfoSucess", new { @class = "field-validation-success" })</div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="Requestedurl" value="@Model.Requestedurl" />
                                        @if (Html.ValidationMessage("InvalidInfoSucess").ToString() == "<span class=\"field-validation-valid\" data-valmsg-for=\"InvalidInfoSucess\" data-valmsg-replace=\"true\"></span>")
                                        {
                                            <div id="DisplayInput" class="col-lg-12 noPl mtop-10">
                                                @Html.TextBoxFor(m => m.LoginUserName, new { @class = "form-control bottom-margin ", placeholder = "Enter your email", id = "InputText", @style = "margin-bottom:0px !important", @tabindex = "1" })
                                            </div>
                                            <div style="width:100%" class="form-group col-lg-12 noPl fl">
                                                <div class="col-sm-12 captchamargin nopad">
                                                    @CaptchaMvc.HtmlHelpers.CaptchaHelper.Captcha(this.Html, "", "", 6)
                                                </div>
                                            </div>
                                            <div class="btnRow">
                                                <button id="Submit" onclick="return OnSubmit(); blockPage();" type="submit" class="btn btnAction">Submit</button>
                                                <a class="col-xs-12 col-lg-8 pull-right noPad btnlink" style="margin-top: 7px;" onclick="blockPage();" href="/Admin">Return to sign in page</a>
                                            </div>
                                        }
                                        else
                                        {
                                            PasswordSuccess = true;

                                            <a class="col-xs-12 col-lg-8 pull-right noPad btnlink" style="margin-top: 7px;" onclick="blockPage();" href="/Admin">Return to sign in page</a>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </section>
            @*@Html.Partial("_Footer")*@
        </section>
    }
}
<footer class="footer hidden-xs navbar-fixed-bottom" style="background-color:#484848;height:20px;min-height:38px">
    <div class="">
        <div class="row">
            <div style="position:relative" class="col-lg-12 col-md-12 col-sm-12 ">
                <p class="copyright" style="font-family:Tahoma,sans-serif;font-size:13px;">
                    © @System.DateTime.Today.Year InSync Healthcare Solutions LLC. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>


