﻿@model IEnumerable<TaskModel.Admin.ProjectDTO>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/select.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.select.min.js.download.js"></script>
<style>
    body {
        color: #000 !important;
        background-color: rgba(0,0,0,0.1) !important;
    }


    table.cards {
        background-color: transparent;
    }

    /*--[  This does the job of making the table rows appear as cards ]----------------*/
    .cards tbody img {
        height: 100px;
    }

    .cards tbody tr {
        float: left;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white !important;
        position:relative !important;
    }

    .cards tbody td {
        display: block;
        width: 270px;
        overflow: hidden;
        text-align: left;
    }

    /*---[ The remaining is just more dressing to fit my preferances ]-----------------*/
    .table {
        background-color: #fff;
        border:none !important;
    }

        .table tbody label {
            display: none;
            margin-right: 5px;
            width: 100px;
        }

        .table .glyphicon {
            font-size: 20px;
        }

    .cards .glyphicon {
        font-size: 75px;
    }

    .cards tbody label {
        display: inline;
        position: relative;
        font-size: 85%;
        font-weight: normal;
        /*top: -5px;*/
        left: -3px;
        float: left;
        color: #808080;
    }

    .cards tbody td:nth-child(1) {
        text-align: center;
        background:#00BCD5;
    }
    .popover{
        z-index:0 !important;
    }
    
</style>
<link href="~/Scripts/custom.css" rel="stylesheet" />
<div class="row" style="height: 48px;position: fixed;background: white;width: 100%;z-index: 100;top: 56px;border:1px solid rgba(0,0,0,.15);box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)">

    <div class="btn-group" role="group" aria-label="Basic example" style="height: 34px;text-align: center;top: 7px;left: 9px;">
        <button type="button" class="btn btn-success"  onclick="GetProjectsByStatus(null)"><i class="fa fa-folder-open" style="padding-right:3px" aria-hidden="true" ></i>All</button>
        <button type="button" class="btn btn-dark" onclick="GetProjectsByStatus(1)"><i class="fa fa-unlock"  style="padding-right:3px" aria-hidden="true"></i>Started</button>
        <button type="button" class="btn btn-danger" onclick="GetProjectsByStatus(2)"><i class="fa fa-pause-circle" style="padding-right:3px"  aria-hidden="true"></i>On Hold</button>
        <button type="button" class="btn btn-primary" onclick="GetProjectsByStatus(3)"><i class="fa fa-thumbs-o-up" style="padding-right:3px" aria-hidden="true"></i>Completed</button>
    </div>
</div>
<div class="row" style="margin-top:37px">
    <table id="ProjectTbl" data-toggle="table" class="proj_grids table table-striped table-bordered" card-view="true" data-show-toggle="true" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th data-field="name"></th>
                <th data-field="ProjectName">ProjectName</th>
                <th>ShortName</th>
                <th>Description</th>
                <th>EstimateHours</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>ProjectStatus</th>
                <th>CreatedBy</th>

            </tr>
        </thead>
        <tbody id="ProjectDetails">
            @if(!Model.Any())
        {
                <tr>
                    <td colspan="9">
                        No data Available
                    </td>
                </tr>
        }
        </tbody>

    </table>
</div>
<script>
      var projectDetails=@Html.Raw(Json.Encode(Model));
      $(document).ready(function () {
          LoadProjectDetails(projectDetails);
          $('[rel="tooltip"]').tooltip();
      });
      function LoadProjectDetails(projectData)
      {
          $('#ProjectTbl').DataTable({
              data: projectData,
              destroy: true,
              //pagingType: 'full_numbers',
              ////lengthMenu: [3, 6, 9, 12, 15, 18, 20],
              pageLength: 4,
              select: 'single',
              info:     false,
              lengthChange:false,
              columns: [
                  {
                      data: null,
                      defaultContent: '',
                      className: '',
                      orderable: false
                  },
                  { data: "Project.ProjectName", className: "ProjectName" },
                  { data: "Users", className: "UsersOfProject" , name: "ShortName", title: "ShortName" },
                  { data: "Project.Description", className: "Description" , name: "Description", title: "Description" },
                  { data: "Project.EstimateHours", className: "EstimateHours" , name: "EstimateHours", title: "EstimateHours" },
                  { data: "Project.StartDate", className: "StartDate", name: "StartDate", title: "StartDate"  },
                  { data: "Project.EndDate", className: "EndDate" , name: "EndDate", title: "EndDate" },
                  //{ data: "ProjectStatus", className: "ProjectStatus" , name: "ProjectStatus", title: "ProjectStatus" },
                  { data: "Project.User", className: "CreatedBy" , name: "CreatedBy", title: "CreatedBy" },


              ],
           
              "columnDefs": [
               {
                   
                   "render": function (data, type, row,td) {
                       
                       
                       var statusClass="started";

                       if(row.Project.StatusId==2)
                       {
                           statusClass="on-hold";
                       }
                       else if(row.Project.StatusId==3)
                       {
                           statusClass="completed";
                       }
                       var  project='<div style="height:60px;width: 100%;">'+
                           '<div class="fl triangle-topright-sts '+statusClass+'" style="position:relative !important;">'+row.Project.Status.StatusName+'</div>'+
                           '<div class="usr_top_cnt">'+
                           '<div class="usr_act_det" style="right:-5px">';
                       if(row.Project.CreatedBy == '@TaskModel.SessionUtility.UserId')
                       {
                           project+='<i class="fa fa-ellipsis-v fr" aria-hidden="true" data-id="' + row.Project.ProjectId + '" onclick="ShowPopover(this);"></i>';
                       }
                       project+='</div><div class="user_img user_img_proj" style="right:26%;text-align:center;color:white;font-weight:bold">'+row.Project.ShortName+'</div></div></div>';
                       return project;
                       //'<div style="height:60px;">'+
                       //    '<div class="fl triangle-topright-sts started" style="position:relative !important;">Started</div>'+
                          
                            
                       //    '<i class="fa fa-ellipsis-v fr" aria-hidden="true" data-id="' + row.Project.ProjectId + '" onclick="ShowPopover(this);"></i>'+
                       //     '<div><a style="color:white;font-size:20px;font-weight:600px;width: 100px; margin-right: 117px;">'+row.Project.ShortName+'</a></div>'+
                       //    '</div>';
                   },
                   "targets": 0
               },
                {
                   
                    "render": function (data, type, row) {
                        return '<label>Project Name:</label>'+data;
                    },
                    "targets": 1
                },
                {
                   
                    "render": function (data, type, row) {
                        
                        var Users="<div class='col-lg-12' style='padding:0px;'><label style='width:100%;padding:0px;'>User(s):</label></div><div class='col-lg-12'>";
                        var j=1;
                        $.each(data,function(i,items){
                            
                            Users+='<span rel="tooltip" style="margin-right:4px;" class="cmn_profile_holder clr'+j+' project_user_ov" data-original-title='+items.EmpName+'>'+items.EmpName.substring(0,1)+'</span>';
                            j++;
                        });
                        Users+="</div>";
                        return Users;
                    },
                    "targets": 2
                },
                  {
                   
                      "render": function (data, type, row) {
                          return '<label>Description:</label>'+data;
                      },
                      "targets": 3
                  },
                    {
                   
                        "render": function (data, type, row) {
                            return '<label>EstimateHours:</label>'+data;
                        },
                        "targets": 4
                    },
              {



                  "render": function (data, type, row) {
                      return '<label>StartDate:</label>'+FormatedDate(data);
                  },
                  "targets": 5
              }
              ,
              {



                  "render": function (data, type, row) {
                      
                      if(data!=null){
                          return '<label >EndDate:</label>'+FormatedDate(data);
                      }
                      else
                      {
                          return "";
                      }
                     
                  },
                  "targets": 6
              },
              {
                   
                  "render": function (data, type, row) {
                      
                            return '<label >CreatedBy:</label>'+data.EmpName;
          },
                        "targets": 7
      },
              ]
          });
          $("#ProjectTbl").toggleClass('cards');
          $("#ProjectTbl thead").toggle()
      }
      function ShowPopover(projectObj)
      {
          var div='<div class="">'+
          '<div><a href="javascript:;" class="EditRow Edit" data-id="' + $(projectObj).attr("data-id") + '"   onclick="CreateNewProject('+$(projectObj).attr("data-id") +')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Project</a></div>'+
              '</div>';
          $(projectObj).popover({
              content: div,
              html:true
          
          });
      }

      function GetProjectsByStatus(statusId)
      {
          var objProject=new Object();
          objProject.StatusId=statusId;
          $.post('@Url.Action("GetProjectsByStatus","Admin")',objProject,function(data){
              LoadProjectDetails(data);
              $("#ProjectTbl").toggleClass('cards');
              $("#ProjectTbl thead").toggle()
          });
      }
</script>








