﻿@model IEnumerable<TaskModel.Admin.Task>
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    thead
    {
        background-color:white;
    }
    .odd,.even
    {
        background-color:white !important;
    }
    td,th
    {
        border:none !important;
    }
    /*tr{
        border-collapse:separate !important;
        border-spacing:6px !important;

    }*/
</style>
<table id="TaskTbl" class="table table-striped table-bordered" style="border-spacing: 6px;" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>TaskName</th>
            <th>TaskDate</th>
            <th>EstimateDate</th>
            <th>TaskDetails</th>
            <th>ProjectId</th>
            <th>CreatedBy</th>
            <th>Status</th>
            <th>ModifiedBy</th>

        </tr>
    </thead>
    <tbody id="ProjectDetails">
        @if (!Model.Any())
        {
            <tr>
                <td colspan="9">
                    No data Available
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
      var projectDetails=@Html.Raw(Json.Encode(Model));
      $(document).ready(function () {
          LoadProjectDetails();
      });
      function LoadProjectDetails()
      {
          $('#TaskTbl').DataTable({
              data: projectDetails,
              columns: [
                  {
                      data: null,
                      defaultContent: '',
                      className: '',
                      orderable: false
                  },
                  { data: "TaskName", className: "TaskName" },
                  { data: "TaskDate", className: "ShortName" },
                  { data: "EstimateDate", className: "Description" },
                  { data: "TaskDetails", className: "EstimateHours" },
                  { data: "Project.ProjectName", className: "ProjectName" },
                  { data: "User.EmpName", className: "EndDate" },
                  { data: "Status", className: "ProjectStatus" },
                  { data: "ModifiedBy", className: "ModifiedBy" },


              ],
              select: {
                  style: 'os',
                  selector: 'td:first-child'
              },
              "columnDefs": [
               {
                   "render": function (data, type, row) {
                       var task="";
                       if(row.User.EmpName == '@TaskModel.SessionUtility.UserId')
                       {
                           task='<a href="javascript:;" class="EditRow Edit" data-id="' + row.TaskId + '"   onclick="CreateNewTask('+row.TaskId +')">Edit</a>';
                       }
                       return task;
                       
                   },
                   "targets": 0
               },

              
              {
                  "render": function (data, type, row) {
                      return FormatedDate(data);
                  },
                  "targets": 2
              }
              ,
              {
                  "render": function (data, type, row) {
                      return FormatedDate(data);
                  },
                  "targets": 3
              }
              ]
          });
      }
</script>








