﻿@model List<TaskModel.Admin.User>
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .odd {
        background-color: rgba(76, 175, 80, 0.33) !important;
    }
</style>
<div class="row " style="height: 48px;position: fixed;background: white;width: 100%;z-index: 100;top: 56px;border:1px solid rgba(0,0,0,.15);box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)">
    <div class="row col-lg-12" style="padding-top:4px">
        <div class="col-lg-2">
            <input type="text" class="form-control input-sm " id="depttext" />
        </div>
        <div class="col-lg-2">

            <button id="AddDept" class="btn btn-info" onclick="AddDepartment();">Add Department</button>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control input-sm" id="designationtext" />
        </div>
        <div class="col-lg-2">
            <button  class="btn btn-success" id="AddDesignation" onclick="AddDesignation();">Add Designation</button>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control input-sm" id="roletext" />
        </div>
        <div class="col-lg-2">
            <button  class="btn btn-dark" id="AddRole" onclick="AddRole();">Add Role</button>
        </div>
    </div>
</div>
<table id="UserTbl" class="table table-striped table-bordered" cellspacing="0" width="100%" style="background-color:white!important">
    <thead>
        <tr>
            <th></th>

            <th>EmpName</th>
            <th>Designation</th>
            <th>BirthDate</th>
            <th>JoiningDate</th>
            <th>Email</th>
            <th>Password</th>
            <th>DeptId</th>
            <th>RoleId</th>

        </tr>
    </thead>
    <tbody id="UserDetails"></tbody>

</table>
<script>
    var userDetails=@Html.Raw(Json.Encode(Model));
    $(document).ready(function () {
        LoadUserDetails();
        $("#AddDept").bind("click",function(){
        
        });
    });
    function LoadUserDetails()
    {
        $('#UserTbl').DataTable({
            data: userDetails,
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: '',
                    orderable: false
                },
                { data: "EmpName", className: "Title" },
                { data: "EmpDesignation.Designation", className: "Designation" },
                { data: "BirthDate", className: "BirthDate" },
                { data: "JoiningDate", className: "JoiningDate" },
                { data: "Email", className: "Email" },
                { data: "Password", className: "Password" },
                { data: "Department.DeptName", className: "Department" },
                { data: "UserRole.UserRoleName", className: "UserRole" },


            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            "columnDefs": [
             {



                 "render": function (data, type, row) {
                     return '<a href="javascript:;" class="EditRow Edit" data-id="' + row.EmpId + '"   onclick="CreateNewUser('+row.EmpId +')">Edit</a>';
                 },
                 "targets": 0
             },
            {



                "render": function (data, type, row) {
                    
                    return FormatedDate(data);
                },
                "targets": 3
            }
            ,
            {



                "render": function (data, type, row) {
                    return FormatedDate(data);
                },
                "targets": 4
            }
            ]
        });
    }

    function AddDepartment()
    {
        
        var objDept=new Object();
        objDept.DeptName=$("#depttext").val();
        $.post('@Url.Action("AddDepartment", "Admin")',objDept,function(){
        
            $("#depttext").val("");
            toastr.success("Data Successfully added.");
        });
    }
    function AddDesignation()
    {
        
        var objDesg=new Object();
        objDesg.Designation=$("#designationtext").val();
        $.post('@Url.Action("AddDesignation", "Admin")',objDesg,function(){
        
            $("#designationtext").val("");
            toastr.success("Data Successfully added.");});
    }
    function AddRole()
    {
        
        var objRole=new Object();
        objRole.UserRoleName=$("#roletext").val();
        $.post('@Url.Action("AddRole", "Admin")',objRole,function(){
        
            $("#roletext").val("");
            toastr.success("Data Successfully added.");});
    }
</script>



