﻿@model IEnumerable<TaskModel.Admin.ProjectDTO>
@{
    string headerTitle = "New Project";
    string disabled = string.Empty;
    string projectName = string.Empty;
    string ShortName = string.Empty;
    string Description = String.Empty;
    string EstimateHours = string.Empty;

    int ProjectId = 0;
    string StartDate = string.Empty;
    string EndDate = string.Empty;
    int? Status =0;
    int? TaskTypeId = 0;
    List<int> UserIds = new List<int>();
    List<int> userProjectId = new List<int>();
    if (Model.FirstOrDefault().Project != null)
    {
        projectName = Model.FirstOrDefault().Project.ProjectName;
        ShortName = Model.FirstOrDefault().Project.ShortName;
        Description = Model.FirstOrDefault().Project.Description;
        EstimateHours = Model.FirstOrDefault().Project.EstimateHours;
        StartDate = Convert.ToDateTime(Model.FirstOrDefault().Project.StartDate).ToString("MM/dd/yyyy");
        EndDate = Convert.ToDateTime(Model.FirstOrDefault().Project.EndDate).ToString("MM/dd/yyyy");
        ProjectId = Model.FirstOrDefault().Project.ProjectId;
        Status = Model.FirstOrDefault().Project.StatusId;
        TaskTypeId = Model.FirstOrDefault().Project.TaskTypeId;
        if (Model.FirstOrDefault().Project.ProjectId != 0)
        {
            headerTitle = "Edit Project";
            disabled = "disabled";
        }
        foreach (TaskModel.Admin.UserProject item in Model.FirstOrDefault().UsersOfProject)
        {
            userProjectId.Add(item.ProjectUserId);
            UserIds.Add(item.UserId);
        }
    }

}
<style>
     /*.multiselect
    {
        width:500px;
    }*/
    .has-float-label .form-control:placeholder-shown:not(:focus)+*
{
    font-size:100% !important;
}
    .input-group
{
    width:97% !important;
}
      .glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
input
{
    padding:10px;
}
</style>
@*<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css" />*@
<link href="~/Scripts/bootstrap-float-label.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<div class="modal-header">
    <h5 class="modal-title" id="">@headerTitle</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="form-row">
            <label class="col-md-4 form-group has-float-label">
                <input class="form-control" id="projectname" type="text" aria-describedby="nameHelp" placeholder="Enter Project Name" value="@projectName" data-projectId="@ProjectId">
                <span for="exampleInputName">Project name</span>
            </label>
            <label class="col-md-4 form-group has-float-label">
              
                <input class="form-control" id="ShortName" type="text" aria-describedby="nameHelp" placeholder="Enter ShortName" value="@ShortName">
                <span for="birthdate">ShortName</span>
            </label>
            <label class="col-md-4 form-group has-float-label">
                <input class="form-control" id="Description" type="text" aria-describedby="nameHelp" placeholder="Enter Description" value="@Description">
                <span for="email">Description</span>

</label>
        </div>
        <div class="form-row">
            <label class="col-md-4 form-group has-float-label">
               
                <input class="form-control" id="EstimateHours" type="text" aria-describedby="nameHelp" placeholder="Enter Estimate Hours" value="@EstimateHours">
                <span for="EstimateHours">Estimate Hours</span>
            </label>
            <label class="col-md-4 form-group has-float-label">
                
                <input class="form-control" id="StartDate" type="text" aria-describedby="nameHelp" placeholder="Enter StartDate" value="@StartDate">
                <span for="birthdate">StartDate</span>
            </label>
            <label class="col-md-4 form-group has-float-label">
             
                <input class="form-control" id="EndDate" type="text" aria-describedby="nameHelp" placeholder="Enter EndDate" value="@EndDate">
                <span for="email">EndDate</span>
            </label>
        </div>
        <div class="form-row">
            <div class="col-md-4 form-group has-float-label">

                @*<input class="form-control" id="ProjectStatus" type="text" aria-describedby="nameHelp" placeholder="Enter Project Status" value="@Status">*@
                <select class="form-control col-md-12" id="TaskType">
                    <option value="0">Select</option>
                    @foreach (var items in Model.FirstOrDefault().TaskTypes)
                    {
                        <option value="@items.TaskTypeId">@items.TaskTypeName</option>

                    }
                </select>
                <span for="email">Task Type</span>
            </div>
            <div class="col-md-3 form-group has-float-label">
                
                @*<input class="form-control" id="ProjectStatus" type="text" aria-describedby="nameHelp" placeholder="Enter Project Status" value="@Status">*@
                <select  class="form-control col-md-12" id="ProjectStatus">
                    <option value="0">Select</option>
                    @foreach (var items in Model.FirstOrDefault().Status)
                    {
                        <option value="@items.StatusId">@items.StatusName</option>

                    }
                </select>
                <span for="email">ProjectStatus</span>
            </div>
            <div class="col-md-5  form-group ">
                
                @*<input class="form-control" id="UserDetails" type="text" aria-describedby="nameHelp" placeholder="S" value="" >*@
                @*<span for="email">Users</span>
                <div id="autocomplete-results"></div>*@
                <span class="col-md-2" for="email">Users</span>

                <select multiple="multiple" class="form-control " id="UserDetails">

                    @foreach (var items in Model.FirstOrDefault().Users)
                    {
                        <option value="@items.EmpId">@items.EmpName</option>

                    }
                </select>
             
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="javascript:;" onclick="SaveProjectDetails();">Save</a>
    </div>
    
   

    <script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/datepicker/datetimepicker.js"></script>
    @*<script src="~/Scripts/typeahead.bundle.js"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>*@
    <script>
        var userIds=@Html.Raw(Json.Encode(UserIds));
        var userProjectId =@Html.Raw(Json.Encode(userProjectId));
        $(document).ready(function () {
            
            $("#StartDate").datepicker();
            $("#EndDate").datepicker();
            $("#ProjectStatus").val('@Status');
            $("#TaskType").val('@TaskTypeId');
            $("#UserDetails").val(userIds);
            $('#UserDetails').multiselect({
                //includeSelectAllOption: true,
                enableFiltering: true

            });
            $("#UserDetails").val(userIds);
            //$("#UserDetails").autocomplete({
            //    source: function (request, response) {
            //        
            //        $.ajax({
            //            type: 'GET',
            //            url: '../Admin/SearchUser?Prefix=' + request.term, // resolved
            //            dataType: 'json',
            //            success: function (jsonData) {
            //                
            //                response($.map(jsonData, function (item) {
            //                    return {
            //                        label: item.EmpId,
            //                        val: item.EmpName
            //                    }
            //                }));
            //            }
            //        });
            //    },
            //    minLength: 2,

            //    select: function (event, ui) {
            //        
            //        var terms = split(this.value);
            //        event.preventDefault();
            //        var url = ui.item.value;
            //        if (url != '#') {
            //            location.href = url;
            //        }
            //    }
            //});
        });
        function SaveProjectDetails() {
            var objProject = new Object();
            objProject.Project = new Object();
            objProject.Project.ProjectId = $("#projectname").attr("data-projectId");
            objProject.Project.ProjectName = $("#projectname").val();
            objProject.Project.ShortName = $("#ShortName").val();
            objProject.Project.Description = $("#Description").val();
            objProject.Project.EstimateHours = $("#EstimateHours").val();
            objProject.Project.StartDate = $("#StartDate").val();
            objProject.Project.EndDate = $("#EndDate").val();
            objProject.Project.TaskTypeId=$("#TaskType").val();
            objProject.Project.StatusId = $("#projectname").attr("data-projectId")==0?1:$("#ProjectStatus").val();
            objProject.Project.CreatedBy = '@TaskModel.SessionUtility.UserId';

            var objuser = new Array();
            var abc;
            if( objProject.Project.ProjectId!="0" && userProjectId.length!=0)
            {
                abc=userProjectId;

            }
            $.each($("#UserDetails").val(), function (i, items) {
                var user = new Object();
                user.UserId = items;
                if( objProject.Project.ProjectId!="0" )
                {
                    if( userProjectId.length!=0 && abc.length!=i)
                    {
                        user.ProjectUserId = abc[i];
                    }
                    else
                    {
                        user.ProjectUserId=0;
                    }
                }
                objuser.push(user);
            });
            objProject.UsersOfProject = objuser;

            $.post("@Url.Action("InsertUpdateProject","Admin")", objProject, function () {
                $("#NewModal").modal("hide");
                
                toastr.success("Data Successfully added.");
                window.location.href='../Admin/Projects';
            });
        }
    </script>


