﻿@model IEnumerable<TaskModel.Admin.TaskDTO>
@{
    string headerTitle = "New Task";
    string disabled = string.Empty;
    string TaskName = string.Empty;
    string TaskDate = string.Empty;
    string TaskDetails = String.Empty;
    string EstimateDate = string.Empty;
    int TaskId = 0;
    int? ProjectId = 0;
    // int CreatedBy = 0;
    string Status = string.Empty;
    //   int ModifiedBy =0;
    string ProjectName = string.Empty;
    List<int> userTaskIds = new List<int>();
    List<int?> userIds = new List<int?>();
    if (Model.FirstOrDefault().Task != null)
    {
        TaskId = Model.FirstOrDefault().Task.TaskId;
        TaskName = Model.FirstOrDefault().Task.TaskName;
        TaskDate = Convert.ToDateTime(Model.FirstOrDefault().Task.TaskDate).ToString("MM/dd/yyyy");
        TaskDetails = Model.FirstOrDefault().Task.TaskDetails;
        EstimateDate = Convert.ToDateTime(Model.FirstOrDefault().Task.EstimateDate).ToString("MM/dd/yyyy");
        ProjectId = Model.FirstOrDefault().Task.ProjectId;


        Status = Model.FirstOrDefault().Task.Status;
        if (Model.FirstOrDefault().Task.TaskId != 0)
        {
            headerTitle = "Edit Task";
            disabled = "disabled";
        }

    }
    if(Model.FirstOrDefault().UsersOfTask!=null)
    {
        foreach(TaskModel.Admin.UserTask item in Model.FirstOrDefault().UsersOfTask)
        {
            userTaskIds.Add(item.UserTaskId);
            userIds.Add(item.UserId);
        }
    }
}
<link href="~/Scripts/bootstrap-float-label.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .multiselect
    {
        width:500px;
    }
    .glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*
{
    font-size:100% !important;
}
.input-group
{
    width:97% !important;
}
</style>

<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-float-label.min.css" rel="stylesheet" />

<div class="modal-header">


    <h5 class="modal-title" id="">@headerTitle</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-4  form-group has-float-label">
                <input class="form-control" id="TaskName" type="text" aria-describedby="nameHelp" placeholder="Enter Task name" value="@TaskName" data-taskId="@TaskId">
                <span for="exampleInputName">Task name</span>
            </div>
            <div class="col-md-4  form-group has-float-label">
                <input class="form-control" id="TaskDate" type="text" aria-describedby="nameHelp" placeholder="Enter TaskDate" value="@TaskDate">
                <span for="birthdate">TaskDate</span>
            </div>
            <div class="col-md-4  form-group has-float-label">
                <input class="form-control" id="TaskDetails" type="text" aria-describedby="nameHelp" placeholder="Enter Description" value="@TaskDetails">
                <span for="email">Description</span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4  form-group has-float-label">
                <input class="form-control" id="EstimateDate" type="text" aria-describedby="nameHelp" placeholder="Enter Estimate Date" value="@EstimateDate">
                <span for="email">Estimate Date</span>
            </div>
            <div class="col-md-4  form-group has-float-label">
                <input class="form-control" id="TaskStatus" type="text" aria-describedby="nameHelp" placeholder="Enter Task Status" value="@Status">
                <span for="birthdate">Task Status</span>
            </div>
            <div class="col-md-4  form-group has-float-label">
                <span for="email">Project</span>
                <select  class="form-control " id="project" >
                    <option value="0" selected>Select</option>
                    @foreach (var items in Model.FirstOrDefault().Projects)
                    {
                        <option value="@items.ProjectId">@items.ProjectName</option>
                    }
                </select>
            </div>
           
        </div>
        <div class="form-row">
            <div class="col-md-9" style="margin-top:10px">
                <label for="email" class="col-lg-2">Users</label>
                <select multiple="multiple" class="form-control col-lg-10" id="Users" data-userTask="">
                    @foreach (var items in Model.FirstOrDefault().Users)
                    {
                        <option value="@items.EmpId">@items.EmpName</option>
                    }
                    </select>
</div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="javascript:;" onclick="SaveTaskDetails();">Save</a>
    </div>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datepicker/datetimepicker.js"></script>
    <script>
        var usertaskId=@Html.Raw(Json.Encode(userTaskIds));
        var userIds=@Html.Raw(Json.Encode(userIds));
        $(document).ready(function () {
            $("#EstimateDate").datepicker();
            $("#TaskDate").datepicker();
            
            // $('#Users').multiselect();
            $('#Users').multiselect({
                //includeSelectAllOption: true,
                enableFiltering: true

            });
            $("#project").val('@ProjectId');
            $("#Users").val(userIds);
            $('#Users').multiselect('refresh');
            $("#project").on("change", function () {
                var objProject = new Object();
                objProject.ProjectId = $("#project").val();
                $.post("@Url.Action("GetUsersOfProject","Admin")", objProject, function (data) {
                    
                    $('#Users').multiselect('destroy');
                    $("#Users").empty();
                    $.each(data, function (i, items) {
                        $("#Users").append("<option value='"+items.EmpId+"'>"+items.EmpName+"</option>")

                    });
                    $('#Users').multiselect({
                        //includeSelectAllOption: true,
                        enableFiltering: true

                    });
                })
            });
        });
        function SaveTaskDetails()
        {
            debugger
            var objTask = new Object();
            objTask.Task=new Object();
            objTask.Task.TaskId = $("#TaskName").attr("data-taskId");
            objTask.Task.TaskName = $("#TaskName").val();
            objTask.Task.TaskDate = $("#TaskDate").val();
            objTask.Task.EstimateDate = $("#EstimateDate").val();
            objTask.Task.TaskDetails = $("#TaskDetails").val();
            objTask.Task.ProjectId = $("#project").val();
            objTask.Task.CreatedBy = '@TaskModel.SessionUtility.UserId';
            objTask.Task.Status = $("#TaskStatus").val();
            var userIds=$("#Users").val();
            var objuser=new Array();
            var abc;
            if( objTask.Task.TaskId!="0")
            {
                abc=usertaskId//.substring(1,usertaskId.length).split(",");
                objTask.Task.ModifiedBy = '@TaskModel.SessionUtility.UserId';
            }

            $.each(userIds, function (i, items) {
                var user = new Object();
                user.UserId = items;
                if( objTask.Task.TaskId!="0" )
                {
                    if(abc.length!=i)
                    {
                        user.UserTaskId = abc[i];
                    }
                    else
                    {
                        user.UserTaskId=0;
                    }
                }
                objuser.push(user);
            });
            objTask.UsersOfTask=objuser;

            $.post("@Url.Action("InsertUpdateTask", "Admin")", objTask, function () {
                $("#NewModal").modal("hide");
              
                toastr.success("Data Successfully added.");
                window.location.href='../Admin/Task';
            });
        }
    </script>




