﻿@model IEnumerable<TaskModel.Admin.GeneralDto>
    
@{
    string headerTitle = "New User";
    string disabled = string.Empty;
    string EmpName = string.Empty;
    string BirthDate = string.Empty;
    string JoiningDate = String.Empty;
    string Email = string.Empty;
    int DesignationId = 0;
    int? DeptId = 0;
    int? RoleId = 0;
    int EmpId = 0;
    string Password = string.Empty;
    if (Model.FirstOrDefault().User != null)
    {
        EmpName = Model.FirstOrDefault().User.EmpName;
        BirthDate = Convert.ToDateTime(Model.FirstOrDefault().User.BirthDate).ToString("MM/dd/yyyy");
        Email = Model.FirstOrDefault().User.Email;
        DesignationId = Model.FirstOrDefault().User.DesignationId;
        DeptId = Model.FirstOrDefault().User.DeptId;
        RoleId = Model.FirstOrDefault().User.RoleId;
        Password = Model.FirstOrDefault().User.Password;
        EmpId = Model.FirstOrDefault().User.EmpId;
        JoiningDate = Convert.ToDateTime(Model.FirstOrDefault().User.JoiningDate).ToString("MM/dd/yyyy");
        if (Model.FirstOrDefault().User.EmpId != 0)
        {
            headerTitle = "Edit User";
            disabled = "disabled";
        }

    }
}
<link href="~/Scripts/bootstrap-float-label.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datepicker/datetimepicker.js"></script>
<div class="modal-header">
   
  
    <h5 class="modal-title" id="">@headerTitle</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
    <div class="form-row">
        <div class="col-md-4">
            <label for="exampleInputName">Employee name</label>
            <input class="form-control" id="empName" type="text" aria-describedby="nameHelp" placeholder="Enter Employee name" value="@EmpName" data-empId="@EmpId">
        </div>
        <div class="col-md-4">
            <label for="birthdate">BirthDate</label>
            <input class="form-control" id="empbirthdate" type="text" aria-describedby="nameHelp" placeholder="Enter BirthDate" value="@BirthDate">
        </div>
        <div class="col-md-4">
            <label for="email">Email</label>
            <input class="form-control" id="empemail" type="text" aria-describedby="nameHelp" placeholder="Enter email" value="@Email">
        </div>
    </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="exampleInputName">Designation</label>
                <select class="form-control" id="empDesg">
                    <option value="0">--Select--</option>
                    @foreach (var items in Model.FirstOrDefault().EmpDesignation)
                    {
                        <option value="@items.DesignationId">@items.Designation</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="birthdate">Joining Date</label>
                <input class="form-control" id="joiningdate" type="text" aria-describedby="nameHelp" placeholder="Enter BirthDate" value="@JoiningDate">
            </div>
            <div class="col-md-4">
                <label for="email">Department</label>
                <select class="form-control" id="departments">
                    <option value="0">--Select--</option>
                    @foreach (var items in Model.FirstOrDefault().Departments)
                    {
                        <option value="@items.DeptId">@items.DeptName</option>
                    }
                </select>
            </div>
        </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-md-4">
            <label for="email">User Role</label>
            <select class="form-control" id="userRole">
                <option value="0">--Select--</option>
                @foreach (var items in Model.FirstOrDefault().UserRole)
            {
            <option value="@items.RoleId">@items.UserRoleName</option>
            }
            </select>
        </div>
        <div class="col-md-4">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" @disabled value="@Password">
        </div>
        <div class="col-md-4">
            <label for="exampleConfirmPassword">Confirm password</label>
            <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password" @disabled value="@Password">
        </div>
        
    </div>
    </div>
<div class="form-group">
    <div class="form-row">
        <div class="col-md-6">
            <input type="checkbox" checked id="empActive"/> Active
        </div>
    </div>
</div>
    </div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    <a class="btn btn-primary" href="javascript:;" onclick="SaveUserDetails()">Save</a>
</div>
    <script>
        $(document).ready(function () {
            $("#joiningdate").datepicker();
            $("#empbirthdate").datepicker();
            $("#empDesg").val('@DesignationId');
            $("#departments").val('@DeptId');
            $("#userRole").val('@RoleId');

        });
        function SaveUserDetails()
        {
            
            var objUser = new Object();
            objUser.EmpId = $("#empName").attr("data-empId");
            objUser.EmpName = $("#empName").val();
            objUser.DesignationId = $("#empDesg").val();
            objUser.BirthDate = $("#empbirthdate").val();
            objUser.JoiningDate = $("#joiningdate").val();
            objUser.Email = $("#empemail").val();
            objUser.Password = $("#exampleInputPassword1").val();
            objUser.DeptId = $("#departments").val();
            objUser.RoleId = $("#userRole").val();
            objUser.IsActive = $("#empActive").is(":checked");
            $.post("@Url.Action("InsertUpdateUser","Admin")", objUser, function () {
                $("#NewModal").modal("hide");
                toastr.success("Data Successfully added.");
                if(window.location.href.indexOf("Admin/User")!=-1)
                {
                    window.location.href = '@Url.Action("User","Admin")';
                }
                
            });
        }
    </script>
    
                